# IDE
.idea
.vscode

# Django files including test with coverage
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
.coverage
coverage.xml
.testmondata

# Vue files including test with coverage
node_modules
.env.personal
dist
coverage
*.gz
test_report.md
**/test-report.md
